.detail-category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 776px;
    margin-top: 84px;
    gap: 24px;

    .category-title {
        font-size: $font-detail-desc;
        font-weight: 600;
    }

    .category-list {
        display: grid;
        grid-template-columns: repeat(3, 240px);
        grid-template-rows: repeat(2, 289px);
        gap: 24px 28px;
    }
}