@keyframes chattingItem {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chatting-list-item {
    width: 400px;
    height: 100px;
    border-radius: 24px;
    box-shadow: $drop-shadow;
    background-color: white;
    @apply dark:bg-color-gray-800;
    @include dark-mode-text;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: chattingItem 0.8s;

    .chatting-list-img {
        width: 60px;
        height: 60px;
        margin: 0 16px;
        border-radius: 50%;
        object-fit: cover;
    }

    .chatting-list-content {
        .chatting-list-name {
            font-size: $font-chat-title;
            font-weight: 600;
            margin-bottom: 12px;
        }

        .chatting-list-recent-msg {
            font-size: $font-chat-desc;
            width: 252px;
            @include ellipsis;
        }
    }
}
