// color

$color-primary: #ec7357;
$color-secondary: #fdd692;
$color-dark: #754f44;
$color-light: #fbffb9;
$color-gray-100: #f2f2f2;
$color-gray-200: #dbdbdb;
$color-gray-300: #c7c7c7;
$color-gray-400: #a6a6a6;
$color-gray-500: #878787;
$color-gray-600: #6e6e6e;
$color-gray-700: #474747;
$color-gray-800: #333333;
$color-gray-900: #292929;

// font-size

$font-logo: 30px;
$font-main-title: 40px;
$font-main-sub-title: 40px;
$font-main-desc: 24px;

$font-sub-category: 14px;

$font-btns-larger: 20px;
$font-btns: 16px;
$font-btns-smaller: 12px;
$font-placeholder: 14px;

$font-card-title: 24px;
$font-card-sub-title: 16px;
$font-card-desc: 12px;
