// color

$color-primary: #ec7357;
$color-primary-light: #ff7d5e;
$color-primary-dark: #bd5d46;
$color-secondary: #fdd692;
$color-dark: #754f44;
$color-light: #fbffb9;
$color-gray-100: #f2f2f2;
$color-gray-200: #dbdbdb;
$color-gray-300: #c7c7c7;
$color-gray-400: #a6a6a6;
$color-gray-500: #878787;
$color-gray-600: #6e6e6e;
$color-gray-700: #474747;
$color-gray-800: #333333;
$color-gray-900: #292929;

// font-size

$font-logo: 30px;
$font-main-title: 40px;
$font-main-desc: 24px;
$font-sub-category: 14px;

$font-btns-larger: 20px;
$font-btns: 16px;
$font-btns-smaller: 12px;
$font-placeholder: 14px;

$font-card-title: 24px;
$font-card-sub-title: 16px;
$font-card-desc: 12px;
$font-chat-title: 20px;
$font-chat-desc: 16px;

$font-detail-title: 40px;
$font-detail-sub-title: 32px;
$font-detail-desc: 24px;
$font-write-desc: 24px;

// shadow
$shadow: 0.3rem 0.3rem 0.6rem rgba(173, 173, 173, 0.25),
    -0.2rem -0.2rem 0.5rem rgba(128, 128, 128, 0.25);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem rgba(136, 136, 136, 0.25);
$drop-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5);
