@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-wrapper {
    @apply dark:bg-color-gray-800 flex items-center justify-between;
    position: fixed;
    width: 100vw;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    .category-container {
        @apply flex items-center gap-[56px];

        .logo-wrapper {
            margin-left: 44px;
    
            .logo-btn {
                @apply dark:text-white flex gap-[2px] items-center h-[120px];
                text-shadow: 0px 4px 4px rgba(46, 46, 46, 0.2);
                font-size: $font-logo;
                font-family: "SBAggroB";
                color: $color-gray-800;
        
                .ball {
                    @apply inline-block relative;
                    font-family: "SBAggroB";
                    color: $color-primary;   
                }
    
                .shadow {
                    @apply hidden absolute w-[28px] h-[5px] bottom-0;
                    left: calc(50% - 14px);
                    border-radius: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .logo-btn:hover {
                .ball {
                    animation: bounce 1s linear infinite;
                }

                .shadow {
                    display: inline-block;
                    animation: shadow 1s infinite;
                }

                @keyframes bounce {
                    0% {
                        top: 0px;
                    }
                    20% {
                        top: -20px;
                    }
                    60% {
                        top: -30px;
                    }
                    68% {
                        top: -20px;
                    }
                    95% {
                        top: -3px;
                    }
                    100% {
                        top: 0px;
                    }
                }
    
                @keyframes shadow {
                    0% {
                        transform: scale(1);
                        background-color: rgba(0, 0, 0, 0.2);
                      }
                    20% {
                        transform: scale(0.8);
                        background-color: rgba(0, 0, 0, 0.15);
                        animation-timing-function: ease-out;
                    }
                    60% {
                        transform: scale(0.2);
                        background-color: rgba(0, 0, 0, 0.1);
                        animation-timing-function: ease-in;
                    }
                    68% {
                        transform: scale(0.3);
                        background-color: rgba(0, 0, 0, 0.15);
                        animation-timing-function: ease-out;
                    }
                    95% {
                        transform: scale(0.9);
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                    100% {
                        transform: scale(1);
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .header-tab {
            display: block;
            @apply relative dark:text-white top-[-4px];
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
        }
    }

    .info-container {
        @apply flex gap-[28px] items-center mr-[32px];

        .header-btn {
            @apply flex justify-center items-center w-[100px] h-[36px] rounded-[8px];
            font-size: $font-btns;
        }
        
        .btn-fill {
            @include btn-fill; 
            @apply dark:text-color-gray-800;
        }
        
        .btn-not-fill {
            @include btn-not-fill;
            @apply dark:bg-color-gray-800;
        }
    }
}
