@keyframes btnSlide {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes btnOpacity {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.fixed-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 32px;
    margin-bottom: 32px;

    .fixed-btns-wrapper {
        width: 60px;

        .btns-item {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: $drop-shadow;
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                transform: scale(1.1);
                transition: 0.2s;
            }

            &.go-to-chat-btn,
            &.plus-btn {
                background-color: $color-primary;
            }

            &.go-to-write-btn {
                background-color: $color-secondary;
                margin-bottom: 12px;
                animation: btnSlide 0.4s;
            }

            .go-to-write-btn-icon,
            .go-to-chat-btn-icon,
            .plus-btn-icon {
                font-size: 28px;
                color: $color-gray-800;
                animation: btnOpacity 0.4s;
            }
        }
    }
}
