@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  outline: 0;
  border: 0;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  @apply dark:bg-color-gray-800;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 120px;
}

.main-top-wrapper {
  height: 300px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  @apply dark:text-white;
  color: #333333;
}
.main-top-wrapper .main-top-contents {
  margin-right: 300px;
  display: flex;
  align-items: center;
}
.main-top-wrapper .main-top-contents .main-top-area-title {
  font-size: 40px;
  font-weight: 800;
}
.main-top-wrapper .main-top-contents .main-top-area-desc {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
}

.main-top-card-item {
  width: 240px;
  display: flex;
  justify-content: center;
  margin: 0 14px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.main-top-card-item .main-top-card-item-inner {
  padding: 16px;
  width: 240px;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-img {
  width: 208px;
  height: 140px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-inner-top {
  display: flex;
  justify-content: space-between;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-inner-top .main-top-card-item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-inner-top .main-top-card-item-book-mark-btn {
  margin-top: 6px;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-inner-top .main-top-card-item-book-mark-btn .book-mark-btn-icons {
  color: #ec7357;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-price {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-date {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  @apply dark:text-secondary;
  color: #754f44;
}
.main-top-card-item .main-top-card-item-inner .main-top-card-item-contents .main-top-card-item-place {
  font-size: 12px;
  font-weight: 400;
}

.main-top-card-area {
  position: relative;
  overflow: hidden;
  width: 528px;
}
.main-top-card-area .main-top-card-track {
  display: flex;
  transform: translate(0, 0);
}

.main-bottom-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  @apply dark:text-white;
  color: #333333;
}
.main-bottom-wrapper .main-bottom-contents {
  margin-left: 200px;
  display: flex;
  align-items: center;
}
.main-bottom-wrapper .main-bottom-contents .main-bottom-area-title {
  font-size: 40px;
  font-weight: 800;
  text-align: right;
  margin-bottom: 16px;
}
.main-bottom-wrapper .main-bottom-contents .main-bottom-area-desc {
  font-size: 24px;
  font-weight: 400;
  text-align: right;
}

@keyframes chatLoad {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(280px);
  }
  40% {
    transform: translateY(210px);
  }
  60% {
    transform: translateY(150px);
  }
  80% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
.main-bottom-chat-area {
  position: relative;
  overflow: hidden;
  width: 420px;
  cursor: pointer;
}
.main-bottom-chat-area:hover .main-bottom-chat-track {
  animation: chatLoad 10s infinite;
}
.main-bottom-chat-area .main-bottom-chat-track .main-bottom-chat-notification {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  justify-content: center;
}
.main-bottom-chat-area .main-bottom-chat-track .main-bottom-chat-notification.title {
  margin-top: 20px;
  margin-bottom: 12px;
}
.main-bottom-chat-area .main-bottom-chat-track .main-bottom-chat-notification.desc {
  color: #a6a6a6;
  margin-bottom: 20px;
}
.main-bottom-chat-area .main-bottom-chat-track .main-bottom-chat-notification .main-bottom-chat-notification-icon {
  margin-right: 8px;
  margin-top: 2px;
}
.main-bottom-chat-area .main-bottom-chat-track .main-bottom-chat-notification strong {
  margin: 0 4px;
}

.main-bottom-chat-item-buyer {
  display: flex;
  margin: 12px;
}
.main-bottom-chat-item-buyer .main-chat-profile {
  margin-left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.main-bottom-chat-item-buyer .main-chat-item-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.main-bottom-chat-item-buyer .main-chat-item-left .main-chat-item-name {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: right;
}
.main-bottom-chat-item-buyer .main-chat-item-left .main-chat-item-content {
  background-color: #dbdbdb;
  color: #333333;
  padding: 8px;
  border-radius: 4px;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
}

.main-bottom-chat-item-seller {
  display: flex;
  margin: 12px;
}
.main-bottom-chat-item-seller .main-chat-profile {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.main-bottom-chat-item-seller .main-chat-item-right {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-bottom-chat-item-seller .main-chat-item-right .main-chat-item-name {
  font-size: 16px;
  margin-bottom: 8px;
}
.main-bottom-chat-item-seller .main-chat-item-right .main-chat-item-content {
  background-color: #ec7357;
  color: white;
  padding: 8px;
  border-radius: 4px;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  @apply dark:bg-color-gray-800 flex items-center justify-between;
  width: 100%;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper .category-container {
  @apply flex items-center gap-[56px];
}
.wrapper .category-container .logo-wrapper {
  margin-left: 44px;
}
.wrapper .category-container .logo-wrapper .logo-btn {
  @apply dark:text-white flex gap-[2px] items-center h-[120px];
  text-shadow: 0px 4px 4px rgba(46, 46, 46, 0.2);
  font-size: 30px;
  font-family: "SBAggroB";
  color: #333333;
}
.wrapper .category-container .logo-wrapper .logo-btn .ball {
  @apply inline-block relative;
  font-family: "SBAggroB";
  color: #ec7357;
}
.wrapper .category-container .logo-wrapper .logo-btn .shadow {
  @apply hidden absolute w-[28px] h-[5px] bottom-0;
  left: calc(50% - 14px);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.wrapper .category-container .logo-wrapper .logo-btn:hover .ball {
  animation: bounce 1s linear infinite;
}
.wrapper .category-container .logo-wrapper .logo-btn:hover .shadow {
  display: inline-block;
  animation: shadow 1s infinite;
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  20% {
    top: -20px;
  }
  60% {
    top: -30px;
  }
  68% {
    top: -20px;
  }
  95% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}
@keyframes shadow {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);
  }
  20% {
    transform: scale(0.8);
    background-color: rgba(0, 0, 0, 0.15);
    animation-timing-function: ease-out;
  }
  60% {
    transform: scale(0.2);
    background-color: rgba(0, 0, 0, 0.1);
    animation-timing-function: ease-in;
  }
  68% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 0, 0.15);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.wrapper .category-container .header-tab {
  display: block;
  @apply relative dark:text-white top-[-4px];
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.wrapper .info-container {
  @apply flex gap-[28px] items-center mr-[32px];
}
.wrapper .info-container .header-btn {
  @apply flex justify-center items-center w-[100px] h-[36px] rounded-[8px];
  font-size: 16px;
}
.wrapper .info-container .btn-fill {
  background-color: #ec7357;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  color: white;
  @apply dark:text-color-gray-800;
}
.wrapper .info-container .btn-not-fill {
  border: 1px solid #ec7357;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  color: #ec7357;
  @apply dark:bg-color-gray-800;
}/*# sourceMappingURL=main.css.map */