.card-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0 56px;

    .card-list {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: repeat(2, 289px);
        gap: 24px 28px;
    }
}
