.profile-select-form {
    position: relative;

    &:hover .plus-badge {
        background-color: $color-primary;
        transition: 0.4s;
    }

    .profile-select-form-img {
        width: 150px;
        height: 150px;
        cursor: pointer;
        border-radius: 50%;
    }

    .plus-badge {
        width: 42px;
        height: 42px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-gray-400;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .plus-badge-icon {
            color: white;
            font-size: 20px;
            font-weight: 800;
        }
    }
}
