.find-pw-form-container {
    padding-top: 200px;

    .find-pw-form-title {
        display: flex;
        justify-content: center;
    }

    .find-pw-form-desc {
        text-align: center;
        margin-bottom: 32px;
        color: $color-gray-400;
    }

    .find-pw-form-wrapper {
        display: flex;
        justify-content: center;

        .email-box,
        .code-box {
            width: 320px;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;

            .email-box-icon,
            .code-box-icon {
                @include input-icon;
            }

            .email-box-input,
            .code-box-input {
                width: 100%;
                @include input-box;
            }

            .send-email-code,
            .resend-email-code {
                margin-left: 16px;
                width: 80px;
                border-radius: 8px;
                font-size: $font-btns;
                @apply dark:text-color-gray-800;
                @include btn-fill;
            }
        }
    }
}
