.keywords-container {
    display: flex;
    justify-content: center;

    .keywords-form-box {
        display: flex;
        justify-content: center;
        position: relative;

        .keywords-form-icon {
            position: absolute;
            top: 12px;
            left: 52px;
            @apply dark:text-white;
        }

        .keywords-input {
            width: 400px;
            height: 40px;
            box-shadow: $drop-shadow;
            border-radius: 8px;
            padding-left: 36px;
            font-size: $font-placeholder;
            background-color: white;
            @apply dark:bg-color-gray-700;
            @include dark-mode-text;
        }

        .keywords-btn {
            margin-left: 16px;
            width: 100px;
            height: 40px;
            border-radius: 8px;
            font-size: $font-btns;
            @apply dark:text-color-gray-800;
            @include btn-fill;
        }
    }

    .keywords-tag-container {
        width: 600px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
