.keywords-container {
    .keywords-form-box {
        display: flex;
        justify-content: center;
        position: relative;

        .keywords-form-icon {
            position: absolute;
            top: 12px;
            left: 12px;
        }

        .keywords-input {
            width: 400px;
            height: 40px;
            box-shadow: $drop-shadow;
            border-radius: 8px;
            padding-left: 40px;
            font-size: $font-placeholder;
        }

        .keywords-btn {
            margin-left: 16px;
            width: 100px;
            height: 40px;
            border-radius: 8px;
            font-size: $font-btns;
            @apply dark:text-color-gray-800;
            @include btn-fill;
        }
    }

    .keywords-tag-container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
