* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    @apply dark:bg-color-gray-800;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 120px;
}

// 버튼
@mixin btn-fill {
    background-color: $color-primary;
    box-shadow: inset 0.2rem 0.2rem 1rem $color-primary-light,
        inset -0.2rem -0.2rem 1rem $color-primary-dark, $shadow;
    color: white;

    &:active {
        box-shadow: inset 0.2rem 0.2rem 1rem $color-primary-dark,
            inset -0.2rem -0.2rem 1rem$color-primary-light;
    }

    &:disabled {
        background-color: $color-gray-400;
        box-shadow: none;
    }
}

@mixin btn-not-fill {
    border: 1px solid $color-primary;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
    color: $color-primary;

    &:active {
        box-shadow: $inner-shadow;
    }
}

// 다크 모드
@mixin dark-mode-text {
    @apply dark:text-white;
    color: $color-gray-800;
}

@mixin dark-mode-date {
    @apply dark:text-secondary;
    color: $color-dark;
}

// 채팅
@mixin chat-profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

@mixin chat-reception {
    background-color: $color-primary;
    color: white;
    padding: 8px;
    border-radius: 4px;
    max-width: 300px;
    font-weight: 400;
    font-size: $font-chat-desc;
}

@mixin chat-dispatch {
    background-color: $color-gray-200;
    color: $color-gray-800;
    padding: 8px;
    border-radius: 4px;
    max-width: 300px;
    font-weight: 400;
    font-size: $font-chat-desc;
}

// input
@mixin input-icon {
    position: absolute;
    top: 16px;
    left: 12px;
    color: $color-gray-400;
    font-size: 22px;
}

@mixin input-box {
    height: 52px;
    padding-left: 48px;
    border: none;
    border-radius: 12px;
    background-color: $color-gray-100;
    box-shadow: $inner-shadow;
    color: $color-gray-800;

    &:focus {
        outline: none;
        box-shadow: $shadow;
    }

    &::placeholder {
        color: $color-gray-400;
    }

    &:read-only {
        background-color: $color-gray-200;
    }
}

// 북마크 버튼
@mixin bookmark-btn-not-fill {
    @apply dark:text-white;
    width: 16px;
    height: 16px;
    color: $color-gray-800;
}

@mixin bookmark-btn-fill {
    width: 16px;
    height: 16px;
    color: $color-primary;
}

// 말줄임 텍스트 1줄 
@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}